p{
    color: orange;
    
}
h3{
    color: aquamarine;
}
a{
    background-color: burlywood;
}
.parrafovioleta{
    color: violet;
    padding: 50px;
    border: 1px solid red;
    
}

.textoverde{
    color: white;
    background: pink;
}

.textonegrilla{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: salmon;
    font-size: 15px;
}

.estilob{
    background-color: red;
    color: blue;
}




.small{
    height: 39px;
}

.contenedorconmargen{
    margin: 30px;
    border: 1px solid red;
    padding: 10px;
}

.pruebadiv{
        border: 1px solid red;
        height: 50px;
}

.contenedordivs{
    border: 5px solid green;
    display: grid;
    grid-column: auto;
    grid-template-rows: 50px 50px;
    grid-template-columns: 40% 30% 30%;
    margin: 20px;
}

.flex{
    border: 5px solid green;
    display: flex;
    height: 550px;
    justify-content:space-around;
    align-items: center;

}